{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estrella Vargas - Developer</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/b0833bdda5.js" crossorigin="anonymous"></script>
</head>
<body>


{% comment %} hey {% endcomment %}

    <div class="page-sec">
        
        <div class="large-container">
            <!-- main menu section that might not need a sandwhitch menu bar -->
            <div class="menu-sec mini-two-sec">
                <div class="left-menu">
                    <ul class="menu-items">
                        
                    </ul>
                </div>
                <div class="right-menu">
                    <button onclick="darkMode()" class="day-night-butt"><i onclick="myFunction(this)" class="fas fa-cloud-moon fa-2x"></i></button>
                </div>
            </div>

            <!-- small sec with my name and image -->
            <div class="intro-sec mini-two-sec">
                <div class="left-menu">
                    <h1 class="my-name">Estrella Vargas </h1>
                    <span class="small-text">Web Developer </span> <br>
                    
                    
                    <p class="main-text">I build simple easy to navigate websites for small business in Chicago. Simple is not overrated.</p>

                    
                    <span>
                        <a href="https://github.com/evargas1" target="_blank" ><i class="fab fa-github fa-2x" style="color: rgb(139, 103, 173); padding-right:10px;"></i></a> 
                        <a href="https://www.linkedin.com/in/estrella-vargas-coding1234/" target="_blank"><i class="fab fa-linkedin fa-2x" style="color: rgb(81, 133, 201); padding-right:10px;"></i></a>
                        <a href="mailto:vargasestrella290@gmail.com"><i class="fas fa-envelope fa-2x" style="color: rgb(216, 111, 92);"></i></a>


                        
                     </span> <br>
                </div>
                
                <div class="right-menu">
                    <img width="200px" src="{% static './img/Round-picture.png' %}" alt="">
                    
                </div>

            </div>

            <div class="projects-sec">
                <h2 class="header-text">Projects</h2>
                <div class="small-container">
                    <div id="funborder1" class="col-3">
                        <h3 class="large-text"> <span class="bold-large-text"> Eat to Heal </span><br>
                        Created for a Nutritionist to schedule appointments with new clients. Marketing the services offered by a small family owned clinic.</h3><span class="small-text">HTML/CSS, JavaScript, Python, Django, and MySQL</span>

                        <div class="view-more">
                            <div class="git"><a target="_blank" href="https://github.com/evargas1/finematterShop"><i class="fab fa-github fa-2x" style="color:rgb(78, 77, 77);"></i></a></div>
                            <div class="site"><a target="_blank" href="https://finemattershop.com"><i class="far fa-arrow-alt-circle-right fa-2x" style="color:rgb(78, 77, 77);"></i></a></div>
                        </div>
                    </div>
                    <div id="funborder2" class="col-3">
                        <h3 class="large-text"> <span class="bold-large-text"> Twitter Bot </span><br>
                            Runs every 30 min, checks if certain accounts have tweeted and tagged our main account, if so the bot will retweet it. </h3><span class="small-text">Python, AWS, and Tweepy API</span>
                        <div class="view-more">
                            <div class="git"><a target="_blank" href="https://github.com/evargas1/twitterBot"><i class="fab fa-github fa-2x" style="color:rgb(78, 77, 77);"></i></a></div>
                        </div>


                    </div>
                    <div id="funborder3" class="col-3">
                        <h3 class="large-text"> <span class="bold-large-text"> Pick Quick </span><br>
                        Designed a dynamic website for a mutli-location resturant in washington. Worked alongside grahic designers to develop this fun website.</h3><span class="small-text">HTML/CSS, Wordpress, PHP, and jQuery. </span>

                        <div class="view-more">
                            <div class="git"></div>
                            <div class="site"><a target="_blank" href="https://youtu.be/fCvCKiRs-kc"><i class="far fa-arrow-alt-circle-right fa-2x" style="color:rgb(78, 77, 77);"></i></a></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        
    </div>


<hr class="needs-space">
<div class="footer-sec">
    <h5 class="small-text">All rights resvered @ Estrella Vargas</h5>
</div>



<script>
    function myFunction(x) {
        x.classList.toggle("fa-cloud-sun");
      }
</script>

<script>


    function darkMode() {
       var element = document.body;
       element.classList.toggle("dark-mode");
       var elementss = document.querySelectorAll('mainText');
       

       const maintext = document.querySelectorAll(".main-text");
       maintext.forEach(fakeImage => {
            fakeImage.classList.toggle("light");
	    });

        const myname = document.querySelectorAll(".my-name");
	    myname.forEach(fakeImage => {
            fakeImage.classList.toggle("light");
	    });

        const smalltext = document.querySelectorAll(".small-text");
	    smalltext.forEach(fakeImage => {
            fakeImage.classList.toggle("gray");
	    });

        const headertext = document.querySelectorAll(".header-text");
	    headertext.forEach(fakeImage => {
            fakeImage.classList.toggle("light");
	    });

        const largetext = document.querySelectorAll(".large-text");
	    largetext.forEach(fakeImage => {
            fakeImage.classList.toggle("light");
	    });

        const boldlargetext = document.querySelectorAll(".bold-large-text");
	    boldlargetext.forEach(fakeImage => {
            fakeImage.classList.toggle("light");
	    });

        const boldsmalltext = document.querySelectorAll(".boldish");
	    boldsmalltext .forEach(fakeImage => {
            fakeImage.classList.toggle("red");
	    });

   
        
    }

</script>



    
</body>
</html>