/* fonts for the page */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
:root {
    --red: #CD4631;
    --white: #F2F4FF; 
    --black: #1B1B1E;
   
  }
body{
    background-color: var(--white);
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.large-container{
    max-width: 750px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
}
.small-container{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.mini-two-sec{
    display: flex;
    flex-wrap: wrap;
}
.right-menu{
    flex-basis: 40%;
    min-width: 300px;
    text-align: right;
    float: right;
    margin-bottom: 20px;
}
.left-menu{
    flex-basis: 60%;
    min-width: 300px;
    text-align: left;
    float: left;
    margin-bottom: 20px;
}
.skills-row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
/* basic layout of code above  */






/* menu section code for color and small effects */
.menu-items{
    display: inline-block;
    text-align: left;
    padding-left: 0;
    
}
.menu-items li {
    display: inline-block;
}
.menu-items li a{
    text-decoration: none;
    padding: 8px;
}
.menu-items li a:hover{
    background-color: rgb(190, 190, 190);
    border-radius: 10px;
}






/* day and night button */
.day-night-butt{
    padding: 10px;
    border: none;
    border-radius: 10px;
    border: 1px solid rgb(190, 190, 190);
    background-color: rgb(190, 190, 190);
    transition: 0.5ms;
    cursor: pointer;
}
.day-night-butt:hover{
    border: 1px solid rgb(78, 77, 77);

}





/* all the basic i guess small text on the page */
.main-text{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--black);
}
.my-name{
    font-size: 45px;
    color: var(--black);
    padding: 0;
    margin: 0;
}
.small-text{
    font-size: 15px;
    color: var(--black);
    padding: 0;  
    margin: 0;
}
.header-text{
    font-size: 35px;
    color: var(--black);
    margin: 0;
}
.large-text{
    font-size: 16px;
    color: var(--black);
    margin: 0;
    font-weight: 500;

}
.bold-large-text{
    font-size: 22px;
    color: rgb(78, 77, 77);
    margin: 0;
    font-weight: 400;

}
.boldish{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 17px;
    color: rgb(90, 59, 59);
    font-weight: 700;
}
.dark-mode {
    background-color: black;
    
}
.light{
    color: #F2F4FF !important;
}
.gray{
    color: rgb(182, 181, 181);
}
.red{
    color: rgb(187, 150, 150);
}




/* unique borders for my projects  */

#funborder1{
    border-image: linear-gradient(to right, rgb(202, 204, 98), rgb(164, 24, 235)) 1;
}
#funborder2{
    border-image: linear-gradient(to right, rgb(75, 156, 64), rgb(163, 46, 17)) 1;
}
#funborder3{
    border-image: linear-gradient(to right, rgb(223, 45, 169), rgb(24, 235, 235)) 1;
}


/* my simple projects section with 3 projects */

.col-3{
    flex-basis: 28%;
    min-width: 220px; 
    margin-bottom: 20px;
    border: 3px solid;
    padding: 10px;
    transition: 0.5s;
    
}
.col-3:hover {
    -ms-transform: scale(1.02); /* IE 9 */
    -webkit-transform: scale(1.02); /* Safari 3-8 */
    transform: scale(1.02); 
}
.view-more{
    display: inline-block;
    width: 215px;
    margin-top: 15px;
}
.git{
    float: left;
}
.site{
    float: right;
}




/* the skills section */
.col-6{
    flex-basis: 15%;
    min-width: 100px;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}
.col-6 img{
    width: 50px;
    border-top: 15px;
}





/* about me sction am I lazy lol  */
.about-me-sec{
    margin-top: 35px;
    margin-bottom: 20px;
}



/* contact me section with buttons */
.col-3-contact{
    flex-basis: 30%;
    min-width: 140px;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}
.contact-sec{
    margin-top: 40px;
}



/* resume section */
.large-image{
    padding-top: 30px;
    align-items: center;
    text-align: center;
}
.large-image img{
    width: 400px;
}
.resume-sec{
    margin-top: 30px;
}


/* footer */
.needs-space{
    margin-top: 40px;
}
.footer-sec{
    height: 30px;
    align-items: center;
    text-align: center;
}


/* scroll button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20%;
    right: 10%;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  
.reserve {
    max-width: 1200px;
    min-width: 15rem;
    width: 80vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    min-height: 25vh;
    margin: 2rem auto;
    border-top: 0.06rem solid #24243c;
    border-bottom: 0.06rem solid #24243c;
  }
  
  @media screen and (max-width: 900px) {
    .reserve {
      border-bottom: .06rem solid transparent;
    }
  }
  
  .reserve #success-message {
    margin: 2rem auto .5rem auto;
    text-align: center;
    font-size: 1.2rem;
    color: #176617;
    font-family: "Montserrat", sans-serif;
    display: none;
  }
  
  .reserve h2 {
    margin: 1rem auto;
    text-align: center;
    text-transform: uppercase;
    color: #24243c;
    font-size: 1.8rem;
    font-family: "Playfair Display", serif;
    letter-spacing: 0.1rem;
  }
  
  .reserve #personal-info {
    display: none;
  }
  
  .reserve form {
    max-width: 970px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 700px) {
    .reserve form {
      margin: 0 auto 1.5rem auto;
    }
  }
  
  .reserve form input {
    width: 15rem;
    padding: 0.5rem 0;
    text-align: center;
    display: inline-block;
    border: solid #24243c;
    border-radius: unset;
    border-width: 0.1rem 0.05rem 0.1rem 0.1rem;
    margin-top: 1rem;
  }
  
  .reserve form input.error {
    border: 2px solid red;
  }
  
  @media screen and (max-width: 500px) {
    .reserve form input {
      border-width: .1rem;
      width: 100%;
      padding: 1rem;
    }
  }
  
  .reserve form .submit-butt {
    border-width: 0.1rem;
    font-size: 1rem;
    background: #24243c;
    color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-family: "Montserrat", sans-serif;
  }
  
  .reserve form .submit-butt:focus {
    border-width: 0.2rem;
    border-color: #fff;
  }
  
  .reserve form .submit-butt:hover {
    background-color: #fff;
    color: #24243c;
  }
  
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 7.5rem auto;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  
  @media screen and (max-width: 900px) {
    .card {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: 3rem auto;
      border-bottom: .07rem solid transparent;
      padding-top: 2rem;
    }
  }
  
  .card .info {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    min-width: 250px;
    width: 100%;
    text-align: center;
    padding: 0 0 1rem 0;
  }
  
  .card .info h3 {
    text-transform: uppercase;
    color: #24243c;
    font-size: 1.4rem;
    margin: 2rem 0 0 0;
    font-family: "Playfair Display", serif;
    letter-spacing: .1rem;
  }
  
  .card .info p {
    font-size: .9rem;
    padding: 0;
    font-family: "Montserrat", sans-serif;
  }
  
  .card .info a {
    display: block;
    width: 15rem;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    background-color: #24243c;
    margin: 1rem auto .5rem auto;
    padding: .5rem 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: .1rem solid transparent;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-family: "Playfair Display", serif;
  }
  
  .card .info a:focus {
    background-color: #fff;
    color: #24243c;
    border: 0.1rem solid #24243c;
  }
  
  .card .info a:hover {
    background-color: #fff;
    color: #24243c;
    border: 0.1rem solid #24243c;
  }
  
  .card .info span {
    display: block;
    text-transform: uppercase;
    font: 1rem;
    margin: 0 auto;
  }
  
  .card .info-img {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    min-width: 250px;
    position: relative;
  }
  
  @media screen and (max-width: 900px) {
    .card .info-img {
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      -o-object-fit: cover;
         object-fit: cover;
    }
  }
  
  .card .info-img img {
    width: 22rem;
    height: 20rem;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: -15%;
    right: -15%;
  }
  
  @media screen and (max-width: 900px) {
    .card .info-img img {
      position: relative;
      top: 0;
      right: 0;
      margin: 1.5rem 0;
      width: 100%;
      height: 20rem;
    }
  }
  
  .card .info-img .left-info-img {
    position: absolute;
    width: 22rem;
    height: 20rem;
    overflow: hidden;
    top: -15%;
    left: -15%;
  }
  
  @media screen and (max-width: 900px) {
    .card .info-img .left-info-img {
      position: relative;
      top: 0;
      right: 0;
      left: 0;
      margin: 1.5rem 0;
      width: 100%;
      height: 20rem;
      position: relative;
      background-position: center center;
      background-size: cover;
    }
  }
  
  .card .info-img .left-info-img img {
    position: relative;
    width: 60%;
    height: 140%;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  